.Title {
    color: Fuchsia;
}

.small {
    height: 300px;
}

.singer {
    color: Aqua;
    font-family: 'Liu Jian Mao Cao', cursive;
}

.animal {
    color: blueviolet;
    font-family: 'Zhi Mang Xing', cursive;
}

.game {
    color: chartreuse;
    font-family: 'Mansalva', cursive;
}

.movie {
    color: cornflowerblue;
    font-family: 'Long Cang', cursive;
}

.bold {
    text-decoration: underline;
}